<app-barra-navegacion></app-barra-navegacion>
<app-encabezado></app-encabezado>
<app-acerca-de></app-acerca-de>
<app-educacion></app-educacion>
<app-hys></app-hys>


<div class="card mat-card" id="first-card">
  <div id="info" style="padding: 16px">
      <div id="info-data">
          <div>
              <h1>Proyectos</h1>
              <div id="info-company">Yo Programo</div>
              <div id="info-contact">
                  <spam>Rosario, Santa Fe. Argentina</spam>
                  <spam><a href="#">Información de contacto</a></spam>
              </div>
          </div>
      </div>      
  </div>
</div>

